<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram</h1>
        {% if words is empty %}
            <h3>No matches were found</h3>
        {% else %}
            <h4>The following words were indeed anagrams:</h4>
        {% for word in words %}
            {{ word.getAword }}
        {% endfor %}
        {% endif %}
        <br>
        <a href='/'>home</a>
    </div>
</body>
</html>
