<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram</h1>
        <h2>Any anagrams?</h2>
        <p>{{ words }}</p>
        <a href='/'>home</a>
    </div>
</body>
</html>
