<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram</h1>
        <h2>Below, enter the words you would like to check</h2>
        <form action=/anagramno role='form' class='form-inline'>
            <div class='form-group'>
                <label for='original'>Search for this word:</label>
                <input id='original' name='original' class='form-control' type='text' placeholder='I would like to search for anagrams of this word'>
            </div>
            <div class='form-group'>
                <label for='word'>Enter any words you would like to check against the word you entered above, to see if they are indeed anagrams</label>
                <input id='word' name='word' class='form-control' type='text' placeholder='any spaces will be interpreted by this app as seperation between words, and compare them seprartely against the word entered above'>
            </div>
            <button type='submit' class='btn-success'>Anagrams here?</button>
        </form>
    </div>
</body>
</html>
