<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.boostrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram</h1>
        <h2>awiojeoaijwe</h2>
        {{ word }}
    </div>
</body>
</html>
